<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Book Inventory</title>
    <style>
        body{
            width: 100%;
            height: 100vh;
            background-color:antiquewhite;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/about"> About</a>
    </nav>
    <div>
        <h1>My books</h1>
    <ul>
        <% books.forEach((book, index) => {  %>
            <li> 
                <a href="/books/<%= index %>"> <%=book.title%></a>
                <a href="/books/edit-book/<%= index %>"> edit</a>
            </li>
        <% }) %> 
    </ul>
    </div>

    <div>
        <h2>Add books</h2>
        <form action="/books/add-book" method="post">
            <input type="text" name="title" placeholder="Book name">
            <input type="text" name="story" placeholder="Enter Story">
            <button type="submit"> Add Book</button>
        </form>

        <form action="/books/delete-all" method="post">
            <button type="submit">Delete all</button>
        </form>
    </div>

</body>
</html>
