<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        body{
            width: 100%;
            height: 100vh;
            background-color: aqua;
        }
    </style>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi suscipit repellat quae quos sed reprehenderit, porro, eaque assumenda expedita saepe dolore? Eos fuga distinctio eligendi minus esse beatae nisi ullam!
    </p>
</body>
</html>