<h1>Details for Book #<%= id %></h1>
<p>Title: <strong><%= title %></strong></p>
<p>Story: <strong><%= story %></strong></p>

<a href="/books/edit-book/<%= id%>">Edit Book</a>
<a href="/">Back to Home</a>